table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
  justify-content: center;
}

th {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-weight: 700;
  background-color: #f2f2f2;
  justify-content: center;
}

th > td {
  white-space: normal;
  justify-content: center;
}

tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

tr:nth-of-type(odd) {
  background-color: #ffffff;
}

td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  justify-content: center;
}


.top {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px 50px;
}

.top #info {
  display: flex;
  width: 500px;
  flex-shrink: 0;


}

.top #review{
  display: flex;
  width: 500px;
  flex-grow: 0;

}
